.DS_Store
config/fish/.config/fish/fish_variables
config/nvim/.config/nvim/plugin/packer_compiled.lua
.mypy_cache/
.serena
config/claude/.claude/settings.json
config/wezterm/.config/wezterm/local.lua
